
body{
  background-color: #313131;
}

/* Width and height of the scrollbar track */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Styling of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(145, 145, 145, 0.686);
  border-radius: 4px;
}

/* Hover styling of the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(145, 145, 145);
}

/* Styling of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.open{
  opacity: 1 !important;
  transform: scale(1) !important;
}